### Import modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Read dataset

In [2]:
data = pd.read_csv("Amazon - Movies and TV Ratings.csv")
data.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [27]:
df = pd.read_csv("Amazon - Movies and TV Ratings.csv")
df1 = df.drop(["user_id"], axis=1)
column = df1.columns
avg = pd.DataFrame()
for i in column:
    
    s={"movie_name":[i],"sum_rating":[df[i].dropna().sum()],"avg_rating":[df[i].dropna().mean()],"num_ratings":[df[i].count()]}
    s1=pd.DataFrame(s)
    avg = avg.append(s1, ignore_index=True)

### Movies with maximum average ratings

In [26]:
avg.sort_values(by = "avg_rating", ascending = False).head(10)

    movie_name  sum_rating  avg_rating  num_ratings
0       Movie1         5.0         5.0            1
65     Movie66         5.0         5.0            1
75     Movie76        10.0         5.0            2
74     Movie75         5.0         5.0            1
73     Movie74         5.0         5.0            1
142   Movie143         5.0         5.0            1
71     Movie72         5.0         5.0            1
144   Movie145         5.0         5.0            1
69     Movie70        10.0         5.0            2
146   Movie147         5.0         5.0            1

### Movies with maximum views/ratings

In [5]:
avg.sort_values(by = "num_ratings", ascending = False)

    movie_name  sum_rating  avg_rating  num_ratings
126   Movie127      9511.0    4.111976         2313
139   Movie140      2794.0    4.833910          578
15     Movie16      1446.0    4.518750          320
102   Movie103      1241.0    4.562500          272
28     Movie29      1168.0    4.806584          243
..         ...         ...         ...          ...
53     Movie54         5.0    5.000000            1
115   Movie116         5.0    5.000000            1
114   Movie115         4.0    4.000000            1
54     Movie55         5.0    5.000000            1
0       Movie1         5.0    5.000000            1

[206 rows x 4 columns]

### Average Rating of each movie

In [28]:
avg[["movie_name","avg_rating"]]

    movie_name  avg_rating
0       Movie1    5.000000
1       Movie2    5.000000
2       Movie3    2.000000
3       Movie4    5.000000
4       Movie5    4.103448
..         ...         ...
201   Movie202    4.333333
202   Movie203    3.000000
203   Movie204    4.375000
204   Movie205    4.628571
205   Movie206    4.923077

[206 rows x 2 columns]

### Top movies with with maximum ratings

In [7]:
avg.sort_values(by = ["num_ratings","avg_rating"], ascending = [False,False]).head()

    movie_name  sum_rating  avg_rating  num_ratings
126   Movie127      9511.0    4.111976         2313
139   Movie140      2794.0    4.833910          578
15     Movie16      1446.0    4.518750          320
102   Movie103      1241.0    4.562500          272
28     Movie29      1168.0    4.806584          243

### Top movies with least audience

In [8]:
avg.sort_values(by = ["num_ratings","avg_rating"], ascending = [True,False]).head()

  movie_name  sum_rating  avg_rating  num_ratings
0     Movie1         5.0         5.0            1
1     Movie2         5.0         5.0            1
6     Movie7         5.0         5.0            1
7     Movie8         5.0         5.0            1
8     Movie9         5.0         5.0            1

In [9]:
data_pd = pd.DataFrame(data)

In [10]:
melt_df=data_pd.melt(id_vars= data.columns[0],value_vars=data.columns[1:],var_name='Movie',value_name='rating')
melt_df

               user_id     Movie  rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [11]:
melt_filtered = melt_df.fillna(0)
melt_filtered.shape

(998688, 3)

In [14]:
pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 24.8 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1630185 sha256=c9e510d836f72e265c2979d0ba83259ba91da4fe1b17b724b0e9ab2bc16b2166
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [16]:
import surprise

In [17]:
from surprise import Reader
from surprise import Dataset
from surprise import SVD
from surprise.model_selection import train_test_split

In [18]:
reader = Reader(rating_scale=(-1,10))


data = Dataset.load_from_df(melt_df.fillna(0), reader=reader)

###Divide the data into training and test data

In [19]:
trainset, testset = train_test_split(data, test_size=0.25)

In [20]:
algo = SVD()

###Building a recommendation model on training data

In [21]:
algo.fit(trainset)

###Make predictions on the test data

In [22]:
predict= algo.test(testset)

In [23]:
from surprise.model_selection import cross_validate

In [24]:
cross_validate(algo,data,measures=['RMSE','MAE'],cv=3,verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2812  0.2855  0.2809  0.2825  0.0021
MAE (testset)     0.0431  0.0428  0.0423  0.0427  0.0003
Fit time          45.25   51.81   43.75   46.94   3.50
Test time         3.94    4.44    3.50    3.96    0.38

{'fit_time': (45.25026798248291, 51.80711078643799, 43.75356698036194),
 'test_mae': array([0.04305358, 0.04283079, 0.04225787]),
 'test_rmse': array([0.28118802, 0.28554699, 0.28088246]),
 'test_time': (3.9379236698150635, 4.441586494445801, 3.5027196407318115)}

In [25]:
user_id='A1CV1WROP5KTTW'
Movie='Movie6'
rating='5'
algo.predict(user_id,Movie,r_ui=rating)
print(cross_validate(algo,data,measures=['RMSE','MAE'],cv=3,verbose=True))

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2813  0.2812  0.2844  0.2823  0.0015
MAE (testset)     0.0427  0.0430  0.0432  0.0430  0.0002
Fit time          47.56   42.73   41.63   43.97   2.57
Test time         4.05    4.41    3.56    4.00    0.35
{'test_rmse': array([0.28133888, 0.28122199, 0.28444564]), 'test_mae': array([0.04273003, 0.04298602, 0.04316099]), 'fit_time': (47.55607557296753, 42.73187470436096, 41.63187789916992), 'test_time': (4.051835536956787, 4.405802249908447, 3.5558207035064697)}